.box
    {
        background-color: #d6d7be;
        height: 200px;
        width: 400px;
    }
a
    {
        color: green;
    }
h1
    {
        color: #532601;
    }
h3
    {
        color: #875327;
    }