.main {
    font-style: Verdana, sans-serif;
    width: 100%;
    font-size: 20px;
}
.header {
    width: 100%;
    min-height: 50px;
    background-color: #f1f1f1;
    line-height: 50px;
    padding: 10px;
    border: 1px solid #e9e9e9;
}
.gridbox {
    float: left;
}
.main-menu {
    margin-top: 20px;
    width: 22%;
    margin-right: 2%;
}
.main-content {
    padding: 1%;
    width: 48%;
    margin-right: 2%;
}
.sidebar {
    margin-top: 20px;
    width: 24%;
    background-color: #CDF0F6;
    margin-right: 0;
}
.right {
    padding: 4%;
}
.main-menu_item {
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e9e9e9;
}
img {width: 100%;}
@media only screen and (max-width: 700px) {
    .main-menu {
        width: 100%;
    }

    .main-menu_item {
        margin: 1%;
        padding: 1%;
    }
    .main-content {
        width: 100%;
        padding: 1%;
    }

    .sidebar {
        width: 100%;
    }
    .right{
        padding: 1%;
    }
    .gridbox {
        margin-right: 0;
        float: left;
    }
